apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Service.Name.DNSCase }}-config
  namespace: "{{ .Namespace }}"
data:
  redis.conf: |
    # Redis configuration file
    bind 0.0.0.0
    protected-mode no
    # Other configurations
