apiVersion: v1
kind: Service
metadata:
  name: {{ .Service.Unique.DNSCase }}
  namespace: {{ .Service.Namespace }}
spec:
  selector:
    app: {{ .Service.Unique.DNSCase}}
  ports:
    - protocol: TCP
      name: tcp-port
      port: 7070
      targetPort: 6379
