apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
  selector:
    app: {{.Name}}
  ports:
{{- range .Deployment.Parameters.ServicePorts }}
{{- if .Name }}
    - name: {{ .Name }}
      port: {{ .Port }}
{{- else }}
    - port: {{ .Port }}
{{- end }}
      targetPort: 6379
{{- end }}
{{- if .Deployment.Parameters.Headless }}
  clusterIP: None
{{- end }}
