apiVersion: v1
kind: Service
metadata:
  name: "{{ .Service.Name.DNSCase }}-write"
  namespace: "{{ .Namespace }}"
spec:
  selector:
    app: "{{ .Service.Unique.DNSCase}}-write"
  ports:
    - protocol: TCP
      name: tcp-port
      port: 7070
      targetPort: 6379
